<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Задачи с решениями</title>
  
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
  
    <!-- Plugin CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.css" type="text/css" rel="stylesheet">
  
    <!-- Theme CSS - Includes Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.min.css" rel="stylesheet">
  
  </head>
  <style>
    #links{color: black;}
  </style>
  <body id="page-top">


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-dark py-3 text-white" id="mainNav">
      <div class="container text-white">
        <a class="navbar-brand js-scroll-trigger text-white" href="{% url 'Home' %}">Главная</a>
        
        </div>
        
    </nav>
    <br/>
    <br/>
    <br/>
    <br/>
    
      <div class="row">
        <div class="col-3" style="padding-left: 100px; max-width: fit-content;">

          <i><h1 class="my-4">Темы</h1></i>
          <div class="list-group" >
           
              
               <a class="list-group-item" style="color: black;" href="">Все темы</a> 
               <a class="list-group-item" style="color: black;"  href="razvitie-ponyatya-o-chisle.html">Развитие понятия о числе</a>
              <a class="list-group-item" style="color: black;"  href="korni-stepeni-logarifmi.html">Корни, степени и логарифмы</a> 
              <a class="list-group-item" style="color: black;"  href="priamie-i-ploskosti-v-prostranstve.html">Прямые и плоскости в пространстве</a> 
              <a class="list-group-item" style="color: black;"  href="elementi-kombinatoriki.html">Элементы комбинаторики</a>
              <a class="list-group-item" style="color: black;"  href="coordinati-i-vectori.html">Координаты и векторы</a>
              <a class="list-group-item" style="color: black;"  href="osnovi-trigonometrii.html">Основы тригонометрии</a>
              <a class="list-group-item" style="color: black;"  href="functions-ich-grafiki-i-svoistva.html">Функции, их свойства и графики</a> 
              <a class="list-group-item" style="color: black;"  href="mnogogranniki-i-kruglie-tela.html">Многогранники и круглые тела</a>
              <a class="list-group-item" style="color: black;"  href="nachala-matanaliza.html">Начала математического анализа</a>
              <a class="list-group-item" style="color: black;"  href="integral-i-ego-primenenie.html">Интеграл и его применение</a>
              <a class="list-group-item" style="color: black;"  href="elementi-teorii-veroyatnostey-i-matstat.html">Элементы теории вероятностей и математической статистики</a> 
              <a class="list-group-item" style="color: black;"  href="uravnenia-i-neravenstva.html">Уравнения и неравенства</a> 
            
            
            
          </div>
  
        </div>
        
        <div class="col-8" style="margin-left: auto; margin-right: auto;">
          <br/>
          <div class="container" style="margin-left: auto; margin-right: auto;">
            {% for task in math_tasks.all %}
              <br/>
                  <h3>{{ task.title }}</h3> 
                  <p></p>
                  {% if task.image %}
                <a href="{{ task.image.url }}">
                   <img src="{{ task.image.url }}" style="max-width: 100%; max-height: auto; margin-left: auto; margin-right: auto;">
                </a>     
                {% endif %}
            
                {% if task.description != null %}
                <p>{{ task.description }}</p>
                {% endif %}
               {% if task.solution != null %}
               <hr style="position: relative;"/>
               <p>{{ t.solution }}</p>
               {% endif %}
               {% if task.image_solution %}
                <a href="{{ task.image_solution.url }}">
                 <img class='card-img-tsop' src="{{ task.image_solution.url }}" style="max-width: 100%; max-height: auto;">
                </a>
              {% endif %}
              <hr class="divider" style="text-align: center;"/>
          {% endfor %}
          </div>
          
       
      </div>
      </div>
    
    <!-- Portfolio Section -->
    
     
      

  
    <!-- Footer -->
    <footer class="bg-light py-5 footer" style="box-sizing: border-box; display: block; flex-shrink: 0;">
      
        <div class="small text-center text-muted">Copyright © Alexandra Gridneva {% now "Y" %}</div>
      
    </footer>
  
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  
  
  </body></html>