<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Начала математического анализа</title>
  
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
  
    <!-- Plugin CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.css" type="text/css" rel="stylesheet">
  
    <!-- Theme CSS - Includes Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.min.css" rel="stylesheet">
  
  </head>
  
  <body id="page-top">


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-dark py-3 text-white" id="mainNav">
      <div class="container text-white">
        <a class="navbar-brand js-scroll-trigger text-white" href="{% url 'Home' %}">Главная</a>
       
        </div>
        
    </nav>
    <br/>
    <br/>
    <br/>
    <br/>
    
      <div class="row">
        <div class="col-lg-2" style="padding-left: 100px; max-width: fit-content;">

          <i><h1 class="my-4">Темы</h1></i>
          <div class="list-group">
            
               <a class="list-group-item" style="color: black;"  href="{% url 'math' %}">Все темы</a> </li>  
               <a class="list-group-item" style="color: black;"  href="{% url 'ponyatia_o_chisle' %}">Развитие понятия о числе</a> </li> 
               <a class="list-group-item" style="color: black;"  href="{% url 'korni' %}">Корни, степени и логарифмы</a> 
              <a class="list-group-item" style="color: black;"  href="{% url 'priamie' %}">Прямые и плоскости в пространстве</a> 
              <a class="list-group-item" style="color: black;"  href="{% url 'kombinatorica' %}">Элементы комбинаторики</a>
              <a class="list-group-item" style="color: black;"  href="{% url 'coordinati' %}">Координаты и векторы</a>
              <a class="list-group-item" style="color: black;"  href="{% url 'trigonometria' %}">Основы тригонометрии</a>
              <a class="list-group-item" style="color: black;"  href="{% url 'functions' %}">Функции, их свойства и графики</a> 
              <a class="list-group-item" style="color: black;"  href="{% url 'mnogogranniki' %}">Многранники и круглые тела</a>
              <a class="list-group-item" style="color: black;"  href="{% url 'matan' %}">Начала математического анализа</a>
              <a class="list-group-item" style="color: black;"  href="{% url 'integral' %}">Интеграл и его применение</a>
              <a class="list-group-item" style="color: black;"  href="{% url 'teorver' %}">Элементы теории вероятностей и математической статистики</a> 
              <a class="list-group-item" style="color: black;"  href="{% url 'neravenstva' %}">Уравнения и неравенства</a> 
            
          </div>
  
        </div>
        
        <div class="col-lg-8" style="max-width: fit-content; padding-left: 50px;">
          <br/>
          <div class="container">
            {% for t in tasks.all %}
          <br/>
                  <h3>{{ t.title }}</h3> 
                </a> 
                <a href="{{ t.image.url }}">
                   <img class='card-img-tsop' src="{{ t.image.url }}" style="max-width: 700px;">
                </a>     
             {% if t.description != null %}
             <p>{{ t.description }}</p>
             
             {% endif %}
            {% if t.solution != null %}
            <hr/>
            <p>{{ t.solution }}</p>
            {% endif %}
            {% if t.image_solution != null%}
            <a href="{{ t.image_solution.url }}">
              <img class='card-img-tsop' src="{{ t.image_solution.url }}" style="max-width: 500px; max-height: 500px;">
           </a>
           {% endif %}
           <hr class="divider"/>
          {% endfor %}
          </div>
          
       
      </div>
      </div>   
  
    <!-- Footer -->
    <footer class="bg-light py-5">
      <div class="container" style="width: 100%;">
        <div class="small text-center text-muted">Copyright © Alexandra Gridneva {% now "Y" %}</div>
      </div>
    </footer>
  
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  
  
  </body></html>