{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Интересные и полезные материалы для программистов и тех, кто неравнодушен к миру IT">
    
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(71442256, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/71442256" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
          
          
            <!-- Google Fonts -->
            <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
          
            <!-- Plugin CSS -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.css" type="text/css" rel="stylesheet">
          
            <!-- Theme CSS - Includes Bootstrap -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.min.css" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177055652-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'UA-177055652-1');
        </script>
          
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}" >
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="padding: 0 5vw;" id="mainNav">
            <div class="container text-white">
              <a class="navbar-brand js-scroll-trigger text-white" href="{% url 'Home' %}">Главная</a>
              <button class="navbar-brand js-scroll-trigger text-white"> 🞬 </button>
            </div>
              
        </nav>
        <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
        <div class="grid-container">
            <div id="content">
                {% block content %}
                {% endblock %} 
            </div> 
               
            <div id="sidebar">
                <h2>Блог не блоггера</h2>
                <p>Здесь можно найти что-то интересное)</p>
                <h3>Недавно добавленные:</h3>        
                {% show_latest_posts 4 %}
            </div>  
        </div>
        <footer class="bg-light py-5">
            <div class="container" style="max-width: 100%;">
              <div class="small text-center text-muted">Copyright © Alexandra Gridneva 2020-{% now "Y" %}</div>
            </div>
          
          </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
        <script src="{% static 'js/navbar.js' %}"></script>
        <script>  
        var csrftoken = Cookies.get('csrftoken');
        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $(document).ready(function(){
             {% block domready %}    
             {% endblock %}  
        });
        // ===== Scroll to Top ==== 
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 200) {        // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200);    // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200);   // Else fade out the arrow
            }   
        });
        $('#return-to-top').click(function() {      // When arrow is clicked
            $('body,html').animate({
                scrollTop : 0                       // Scroll to top of body
            }, 500);
        });
        </script>    
    </body>
</html>