<html lang="ru"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Математика для всех</title>
  
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
  
    <!-- Plugin CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.css" type="text/css" rel="stylesheet">
  
    <!-- Theme CSS - Includes Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.min.css" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177055652-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177055652-1');
</script>


  </head>
  {% load static %}
  <body id="page-top">
  <style>
    #mainimg{object-fit: cover; 
      opacity: 1;
      width: 100%;
      height: 550px;
    }
    #header{
    overflow: hidden;
    height: 550px;
    }
    #homework{
      background-color:#1C69AA;
    }


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

  </style>
    {% block domready %}  
    var page = 1;  
    var empty_page = false;  
    var block_request = false;  
    $(window).scroll(function() 
    {    
        var margin = $(document).height() - $(window).height() - 200;    
        if($(window).scrollTop() > margin && empty_page == false &&  block_request == false) 
        {     
            block_request = true;      
            page += 1;     
            $.get('?page=' + page, 
            function(data) {        
                if(data == '') {          
                    empty_page = true;        
                }        
                else {          
                    block_request = false;          
                    $('#content').append(data);        
                }      
            });    
        }  
    });
    {% endblock %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="padding: 0 5vw;" id="mainNav">
      <div class="container text-white" >
        <a class="navbar-brand js-scroll-trigger text-white" href="">Главная</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-white" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#homework">Контрольные работы</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link js-scroll-trigger dropdown-toggle dropbtn" data-toggle="dropdown" href="#">Разделы</a>
              <div class="dropdown-menu dropdown-content">
                {% for link in home.all %}
                <a style="font-size: 9pt;" href="{{ link.url }}">{{ link.description }}</a>
                {% endfor %}
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Masthead -->
    <header id="header">
      <img src="/media/mainpage.jpg" id="mainimg">
         
    </header>
  
    <!-- About Section -->
    <section class="page-section" style="padding: 5vh 0vh;" id="homework">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="text-white mt-0">Контрольные и проверочные работы</h2>
            <hr class="divider light my-4">
            <p class="text-white-50 mb-4">Задания, решения, тесты</p>
            <a class="btn btn-light btn-xl js-scroll-trigger" href="/homework">Войти</a>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Portfolio Section -->
    <section class="page-section bg-dark text-white" style="padding: 3vh 0vh;" id="portfolio">
      
      <div class="container-fluid p-0" style="max-width: 100%; margin-top: 15px;">
        <h2 class="text-center mt-0">Разделы</h2>
        <hr class="divider my-4">
        <div class="row no-gutters">
          {% for h in home.all %}
          <div class="col-lg-4 col-sm-6" style="max-width: 100%;">
            <a class="portfolio-box" href="{{ h.url }}">
              <img class="img-fluid" src="{{ h.image.url }}" style="height: 350px; width: 100%">
              <div class="portfolio-box-caption" style="max-width: 100%; opacity: 100; background: rgba(0, 0, 0, .55);">
                <div class="project-category text-white-50">
                  {{h.category}}
                </div>
                <div class="project-name">
                  {{ h.description }}
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
         </div>
       </div>
     </section>     
  
    <!-- Contact Section -->
    <section class="page-section" id="contact">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="mt-0">Контактная информация</h2>
            <hr class="divider my-4">
            <p class="text-muted mb-5">Обратная связь</p>
          </div>
        </div>
          <div class="align-items-center text-center">
            <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
            <!-- Make sure to change the email address in anchor text AND the link below! -->
            <button>
              <a class="d-block" href="https://www.instagram.com/math4every/">Instagram</a>
            </button>
          </div>
      </div>
    </section>
  
    <!-- Footer -->
    <footer class="bg-light py-5">
      <div class="container" style="max-width: 100%;">
        <div class="small text-center text-muted">Copyright © Alexandra Gridneva {% now "Y" %}</div>
      </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>  
  var csrftoken = Cookies.get('csrftoken');
  function csrfSafeMethod(method) {
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({beforeSend: function(xhr, settings) {
      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
  $(document).ready(function(){
       {% block domready %}    
       {% endblock %}  
  });
  // ===== Scroll to Top ==== 
  $(window).scroll(function() {
      if ($(this).scrollTop() >= 200) {        // If page is scrolled more than 50px
          $('#return-to-top').fadeIn(200);    // Fade in the arrow
      } else {
          $('#return-to-top').fadeOut(200);   // Else fade out the arrow
      }   
  });
  $('#return-to-top').click(function() {      // When arrow is clicked
      $('body,html').animate({
          scrollTop : 0                       // Scroll to top of body
      }, 500);
  });
  </script> 
    </footer>
  </body></html>