<html lang="en"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Домашние задания</title>
  
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
  
    <!-- Plugin CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.css" type="text/css" rel="stylesheet">
  
    <!-- Theme CSS - Includes Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.min.css" rel="stylesheet">
  
  </head>
  
  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark py-3 text-white" id="mainNav">
      <div class="container text-white">
        <a class="navbar-brand js-scroll-trigger text-white" href="{% url 'Home' %}">Главная</a>
        
        
      </div>
    </nav>
  
  
    <!-- Portfolio Section -->
    <section class="page-section" style="background-color: #1C69AA;">
      <div class="container" style="display: grid; row-gap: 50px;">
        <div class="row" style="justify-content: space-between;">
            {% for h in homew.all %}
            <div class="col-md-4">
                 <div class="card mb-4 shadow-sm" >
                  <div class="card-body" >
                    <a href="{% url 'task' h.id %}">
                       <h3>{{ h.title }}</h3>
                    </a>
                    {% if h.theme != null%}
                    <h5 style="color: gray;">{{ h.theme }}</h5>
                    {% endif %}
                    {% if h.image %}
                      <img class="card-img-top" src="{{ h.image.url }}"/>
                      {% endif %}
                      {% if h.homework_file %}
                      <hr/>
                      <a href="{{ h.homework_file.url }}">
                        <p>{{ h.title }}</p>
                      </a>
                      {% endif %}
                      
                   </div>
                  
                </div>
             </div>
                
            {% endfor %}

<div id="otp_wgt_hqfryvm25gvq2"></div>
                <script type="text/javascript">
                    var otp_wjs_dt = (new Date).getTime();
                    (function (w, d, n, s) {
                        w[n] = w[n] || [];
                        w[n].push(function () {
                            otp_render_widget(d.getElementById("otp_wgt_hqfryvm25gvq2"), 'onlinetestpad.com', 'hqfryvm25gvq2');
                        });
                        s = d.createElement("script");
                        s.type = "text/javascript";
                        s.src = "//onlinetestpad.com/js/widget.js?" + otp_wjs_dt;
                        s.async = true;
                        d.getElementsByTagName("head")[0].appendChild(s);
                    })(this, this.document, "otp_widget_callbacks");
                </script>
                <br/>
                <!-- Online Test Pad Test Widget (#108280)-->
<div id="otp_wgt_hqbok2fvtmro6"></div>
<script type="text/javascript">
    var otp_wjs_dt = (new Date).getTime();
    (function (w, d, n, s) {
        w[n] = w[n] || [];
        w[n].push(function () {
            otp_render_widget(d.getElementById("otp_wgt_hqbok2fvtmro6"), 'onlinetestpad.com', 'hqbok2fvtmro6');
        });
        s = d.createElement("script");
        s.type = "text/javascript";
        s.src = "//onlinetestpad.com/js/widget.js?" + otp_wjs_dt;
        s.async = true;
        d.getElementsByTagName("head")[0].appendChild(s);
    })(this, this.document, "otp_widget_callbacks");
</script>
<!-- Online Test Pad Test Widget (#108287)-->
<div id="otp_wgt_hqcxpmrssendk"></div>
<script type="text/javascript">
    var otp_wjs_dt = (new Date).getTime();
    (function (w, d, n, s) {
        w[n] = w[n] || [];
        w[n].push(function () {
            otp_render_widget(d.getElementById("otp_wgt_hqcxpmrssendk"), 'onlinetestpad.com', 'hqcxpmrssendk');
        });
        s = d.createElement("script");
        s.type = "text/javascript";
        s.src = "//onlinetestpad.com/js/widget.js?" + otp_wjs_dt;
        s.async = true;
        d.getElementsByTagName("head")[0].appendChild(s);
    })(this, this.document, "otp_widget_callbacks");
</script>
         </div>
       </div>
<!-- Online Test Pad Test Widget (#106225)-->
     </section>     

  
    <!-- Footer -->
    <footer class="bg-light py-5" style="width: 100%; max-width: 100%; overflow: hidden;">
      <div class="container" style="width: 100%;">
        <div class="small text-center text-muted">Copyright © Alexandra Gridneva {% now "Y" %}</div>
      </div>
    </footer>
  
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  
  
  </body></html>