<html lang="ru"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Справочные материалы</title>
  
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
  
    <!-- Plugin CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.css" type="text/css" rel="stylesheet">
  
    <!-- Theme CSS - Includes Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.min.css" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177055652-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177055652-1');
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
  m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(71442256, "init", {
       clickmap:true,
       trackLinks:true,
       accurateTrackBounce:true,
       webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/71442256" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

  </head>
  
  {% load static %}
  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="padding: 0 5vw;" id="mainNav">
      <div class="container text-white">
        <a class="navbar-brand js-scroll-trigger text-white" href="{% url 'Home' %}">Главная</a>
        <form action="{% url 'metod_search' %}" method="GET" style="padding-top: 2vh;"> 
          <input type="text" name="query" required="" id="id_query" placeholder="Search...">    
          <input type="submit" value="Поиск"> 
          </form>
        
      </div>
    </nav>

    <a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
    <!-- Portfolio Section -->
    <section class="page-section bg-white" id="portfolio">
        <br/>
        <div class="container" style="max-width: 90vh; text-align: center;">
         {% block content %}

        {% for m in metods %}
        <h3 style="color: black;">{{ m.title }}</h3>
        {% if m.description %}
        <p>
          <img src="{{ m.description.url }}" style="width: 45vh; height: 40vh;">
        </p>
        {% endif %}
        <br/>
        <button style="align-items: center;"><a href = '{{ m.text_file.url }}'>
          Скачать
        </a></button>
        <hr/>
        <br/>
        {% if m.video_source != null %}
           {% load embed_video_tags %}
            <p style="padding-top: 2vh; padding-bottom: 5vh; display: flex; align-items: center;">
              <div style="text-align: center;">
                {% video m.video_source "small" %}
              </div>
            </p>
           <br/>
           {% endif %}
        {% endfor %}
        <div style="display: flex; align-items: center; justify-content: center;">
        {% include 'paginator.html' with page=metods %}
        </div>
        {% endblock %}
        </div>
        
     </section>     

  
    <!-- Footer -->
    <footer class="bg-light py-5">
      <div class="container" style="width: 100%;">
        <div class="small text-center text-muted">Copyright © Alexandra Gridneva {% now "Y" %}</div>
      </div>
    </footer>
  
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script>  

  // ===== Scroll to Top ==== 
  $(window).scroll(function() {
      if ($(this).scrollTop() >= 200) {        // If page is scrolled more than 50px
          $('#return-to-top').fadeIn(200);    // Fade in the arrow
      } else {
          $('#return-to-top').fadeOut(200);   // Else fade out the arrow
      }   
  });
  $('#return-to-top').click(function() {      // When arrow is clicked
      $('body,html').animate({
          scrollTop : 0                       // Scroll to top of body
      }, 500);
  });
  </script> 

  
  </body>
  </html>