<html lang="ru"><head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  
    <title>Справочные материалы</title>
  
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
  
    <!-- Plugin CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.css" type="text/css" rel="stylesheet">
  
    <!-- Theme CSS - Includes Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-creative/5.1.8/css/creative.min.css" rel="stylesheet">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177055652-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-177055652-1');
</script>


  </head>
  
  {% load static %}
  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark" style="padding: 0 5vw;" id="mainNav">
      <div class="container text-white">
        <a class="navbar-brand js-scroll-trigger text-white" href="{% url 'Home' %}">Главная</a>
        <form action="{% url 'metod_search' %}" method="GET" style="padding-top: 2vh;"> 
        <input type="text"name="query" required="" id="id_query" placeholder="Search...">    
        <input type="submit" value="Поиск"> 
        </form>
        </div>
    </nav>

    <section class="page-section bg-white" id="portfolio">
        <br/>
        <div class="container" style="max-width: 60vw; text-align: center;">
    {% block content %}  
    {% if query %}    
    <h1>Материалы с ключевым словом "{{ query }}"</h1> 
       <h3>{% with results.count as total_results %}
            Всего найдено: {{ total_results }}     
            {% endwith %}
        </h3>{% for post in results %}      
    <h3>{{ post.title }}

    </h3>
    {% if post.description %} 
    <p>
      <img src="{{ post.description.url }}">
    </p>
    {% endif %}
    <br/>
    <button style="align-items: center;"><a href = '{{ post.text_file.url }}'>
      Скачать
    </a></button> 
    <hr/>
        <br/>
        {% if post.video_source != null %}
           {% load embed_video_tags %}
            <p style="padding-top: 2vh; padding-bottom: 5vh; display: flex; align-items: center;">
              <div style="text-align: center;">
                {% video post.video_source "small" %}
              </div>
            </p>
           <br/>
           {% endif %}
    {% empty %}
    <p>Результатов не найдено.</p>    
    {% endfor %}
    {% endif %}
    {% endblock %}

    </div>
        
</section> 
    <!-- Footer -->
    <footer class="bg-light py-5">
      <div class="container" style="width: 100%;">
        <div class="small text-center text-muted">Copyright © Alexandra Gridneva {% now "Y" %}</div>
      </div>
    </footer>
  
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  
  
  </body></html>





